body{
  font-family:Pretendard-Regular;
  font-weight:500;
  padding:0;
  margin:0;
  box-sizing:border-box;
  width:100%;
  /* height:100vh; */
  overflow-x:hidden;
  color:#222;
  }
a, address, em, i, strong, b, sup, sub{
  font-style:normal;
  font-family: Pretendard-Regular;
}
figure{margin:0}
button{outline:none; font-family: Pretendard-Regular;}
input{outline:none; border:none; font-family: Pretendard-Regular;}
li{margin:0;list-style-type: none;}
ul{padding:0;}